@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;1,300;1,600;1,900&display=swap");
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

div {
  margin: 10px;
  padding: 2px;

  @media screen and (max-width: 767px) {
    margin: 5px;
    padding: 1px;
  }
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25vh 5vh 1fr 5vh;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  grid-area: 3 / 1 / 4 / 4;

  @media screen and (max-width: 767px) {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }
}
