@import "../../sass/variables";

.grid-gallery {
    display: grid;
    margin-top: 30px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
  
    .grid-gallery__image {
      border: 1px $color-salmon solid;
      max-width: 100%;
      height: auto;
    }
  
    .grid-gallery__text {
      background-color: $color-salmon;
      border: 1px solid black;
      text-align: center;
      position: absolute;
    }
  
    
    @media screen and (max-width: 767px) {
      width: auto;
    }
  }
  
  .grid-gallery__star{
    display: block;
    position: relative;
    top: -45px;
    left: 5px;
    border: 1px black solid;
    background-color: $color-salmon;
  }
  
  .contador-productos{
    padding: 5px;
    margin: 20px;
    font-size: 30px;
    border: 1px  black solid;
    background-color: $color-salmon;
    font-weight: 300;
    text-align: center;
  }